Project3Task1Client/xml-resources/web-service-references/BlockchainServer/wsdl/localhost_8080/Project3Task1Server/BlockchainServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://edu.cmu.ww5/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://edu.cmu.ww5/" name="BlockchainServer">
<types>
<xsd:schema>
<xsd:import namespace="http://edu.cmu.ww5/" schemaLocation="http://localhost:8080/Project3Task1Server/BlockchainServer?xsd=1"/>
</xsd:schema>
</types>
<message name="verify">
<part name="parameters" element="tns:verify"/>
</message>
<message name="verifyResponse">
<part name="parameters" element="tns:verifyResponse"/>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"/>
</message>
<message name="view">
<part name="parameters" element="tns:view"/>
</message>
<message name="viewResponse">
<part name="parameters" element="tns:viewResponse"/>
</message>
<message name="addBlock">
<part name="parameters" element="tns:addBlock"/>
</message>
<message name="addBlockResponse">
<part name="parameters" element="tns:addBlockResponse"/>
</message>
<portType name="BlockchainServer">
<operation name="verify">
<input wsam:Action="http://edu.cmu.ww5/BlockchainServer/verifyRequest" message="tns:verify"/>
<output wsam:Action="http://edu.cmu.ww5/BlockchainServer/verifyResponse" message="tns:verifyResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://edu.cmu.ww5/BlockchainServer/verify/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="view">
<input wsam:Action="http://edu.cmu.ww5/BlockchainServer/viewRequest" message="tns:view"/>
<output wsam:Action="http://edu.cmu.ww5/BlockchainServer/viewResponse" message="tns:viewResponse"/>
</operation>
<operation name="addBlock">
<input wsam:Action="http://edu.cmu.ww5/BlockchainServer/addBlockRequest" message="tns:addBlock"/>
<output wsam:Action="http://edu.cmu.ww5/BlockchainServer/addBlockResponse" message="tns:addBlockResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://edu.cmu.ww5/BlockchainServer/addBlock/Fault/NoSuchAlgorithmException"/>
</operation>
</portType>
<binding name="BlockchainServerPortBinding" type="tns:BlockchainServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="view">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBlock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BlockchainServer">
<port name="BlockchainServerPort" binding="tns:BlockchainServerPortBinding">
<soap:address location="http://localhost:8080/Project3Task1Server/BlockchainServer"/>
</port>
</service>
</definitions>